<!DOCTYPE html>
<html lang="pt-br">
    <%- include("../inc/inc-admin/head") -%>
    <body>
        <%- include("../inc/inc-admin/sidebar") -%>
        <div class="main-content">
            <%- include("../inc/inc-admin/header") -%>
            <%- include("../inc/inc-admin/painel-acoes") -%>
            <%- include("../inc/inc-admin/clients") -%>
            <%- include("../inc/inc-admin/modais/modal-novo-servico") -%>
            <%- include("../inc/inc-admin/modais/modal-novo-cliente") -%>
            <%- include("../inc/inc-admin/modais/modal-novo-lead") -%>
            <%- include("../inc/inc-admin/modais/modal-confirmacao-excluir-cliente") -%>
        </div>
    </body>
</html>