<div class="card-client">
    <div class="content">
        <div class="modal-body">
           <h3>Dados Pessoais | ID <span id="id-cliente"><%= clientData.id_cliente %></span></h3>
            <div class="modal-body-form">
                <div class="campos-cliente form">
                    <div id="nome-cliente">
                        <div class="campo-dentro">
                            <label for="">Nome *</label>
                            <input type="text" name="nome-cliente" id="nome-cliente" value="<%= clientData.nome_cliente %>">
                        </div>
                        <div class="mensagem-erro"><span></span></div>
                    </div>

                    <div id="whatsapp">
                        <div class="campo-dentro">
                            <label for="">WhatsApp *</label>
                            <input type="text" name="whatsapp" id="whatsapp" value="<%= clientData.whatsapp_cliente %>">
                        </div>
                        <div class="mensagem-erro"><span></span></div>
                    </div>

                    <div id="email">
                        <div class="campo-dentro">
                            <label for="">E-mail</label>
                            <input type="text" name="email" id="email" value="<%= clientData.email_cliente %>">
                        </div>
                        <div class="mensagem-erro"><span></span></div>
                    </div>

                    <div id="cpf">
                        <div class="campo-dentro">
                            <label for="">CPF</label>
                            <input type="text" name="cpf" id="cpf" value="<%= clientData.cpf_cliente %>">
                        </div>
                        <div class="mensagem-erro"><span></span></div>
                    </div>

                    <div id="dtcad_cliente">
                        <div class="campo-dentro">
                            <label for="">Data de Cadastro</label>
                            <input type="text" name="dtcad_cliente" id="dtcad_cliente" value="<%= clientData.dtcad_cliente %>">
                        </div>
                        <div class="mensagem-erro"><span></span></div>
                    </div>

                    <fieldset id="endereco-cliente">
                        <legend>Endereço</legend>
                        <input type="text" class="input-logradouro" placeholder="Rua, Avenida, etc" name="endereco-cliente-logradouro" id="endereco-cliente-logradouro" value="<%= clientData.endereco_logradouro %>">
                        <input type="text" class="input-numero" placeholder="Num" name="endereco-cliente-numero" id="endereco-cliente-numero" value="<%= clientData.endereco_numero %>">
                        <input type="text" placeholder="Bairro" name="endereco-cliente-bairro" id="endereco-cliente-bairro" value="<%= clientData.endereco_bairro %>">
                    </fieldset>

                </div>
                    <div class="data-form-image-client">
                        <div class="data-image-upload">
                            <img src="<%= clientData.foto_cliente %>" alt="">
                            <input type="file" name="foto_cliente" id="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <hr>
            <div class="modal-footer-buttons">
                <div>
                    <button id="delete-client-button">Apagar</button>
                </div>
                <div>
                    <button id="update-client-button">Atualizar</button>
                </div>
            </div>
        </div>
        <div class="services-client">
            <h3>Serviços deste Cliente</h3>
            <button id="add-service-client-button" class="modalBtnService">Adicionar</button>
        </div>
    </div>
</div>