<div class="cards">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Foto</th>
                <th>Nome</th>
                <th>WhatsApp</th>
                <th>E-mail</th>
                <th id="th-qt-servicos">Qtde Serviços</th>
                <th id="th-acoes">Ações</th>
            </tr>
        </thead>
        <tbody>
        <% clients.forEach(row=> { %>
            <tr>
                <td id="id-cliente" id-cliente="<%= row.id_cliente %>">
                    <%= row.id_cliente %>
                </td>
                <td id="td-foto">
                    <img src="<%= row.foto_cliente %>" alt="">
                </td>
                <td id="nome-cliente">
                    <%= row.nome_cliente %>
                </td>
                <td id="td-whatsapp">
                    <%= row.whatsapp_cliente %>
                </td>
                <td id="td-email">
                    emailmocado@gmail.com
                </td>
                <td id="td-qt-servicos">
                    0
                </td>
                <td id="td-acoes">
                    <div id="td-acoes-deleta-cliente" title="Apagar este cliente">
                        <i class="fa-solid fa-trash"></i>
                    </div>
                    <div id="td-acoes-cria-servico-cliente" title="Criar um novo serviço para este cliente">
                        <i class="fa-solid fa-circle-plus"></i>
                    </div>
                    <div id="td-acoes-edita-cliente" title="Editar este cliente">
                        <a href="/admin/clients/<%= row.id_cliente %>"><i class="fa-solid fa-user-pen"></i></a>
                    </div>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
