<div class="card-client">
    <div class="content">
        <div class="modal-body">
           <h3>Dados Pessoais | ID <%= clientData.idcliente %></h3>
            <div class="modal-body-form">
                <form enctype="multipart/form-data">
                    <div class="data-form-client">
                        <div class="data-form-content">
                            <div class="data-form-one">
                                <input type="hidden" value="<%= clientData.idcliente %>" name="id" id="id">
                                <div class="form-name">
                                    <label for="">Nome</label><input type="text" name="nome_cliente" placeholder="Nome" id="name" value="<%= clientData.nomecliente %>" required>
                                </div>
                                <div class="form-whatsapp">
                                    <label for="">WhatsApp</label><input type="text" name="whatsapp_cliente" id="whatsapp" value="<%= clientData.whatsapp %>">
                                </div>
                            </div>
                            <div class="data-form-two">
                                <div class="form-email">
                                    <label for="">E-mail</label><input type="email" name="email_cliente" id="email" value="<%= clientData.email %>">
                                </div>
                                <div class="form-cpf">
                                    <label for="">CPF</label><input type="text" name="cpf_cliente" id="cpf" value="<%= clientData.cpf %>">
                                </div>
                            </div>
                            <div class="data-form-three">
                                <div class="form-date">
                                    <label for="">Data de Cadastro</label><input type="text" name="dtcad_cliente" id="date" value="<%= clientData.dtcadcliente %>">
                                </div>
                            </div>
                            <div class="data-form-four">
                                <div class="form-street">
                                    <label for="">Logradouro</label><input type="text" name="endereco_logradouro" id="street" value="<%=  clientData.logradouro %>">
                                </div>
                                <div class="form-number">
                                    <label for="">Nº</label><input type="text" name="endereco_numero" id="number" value="<%=  clientData.numero %>">
                                </div>
                            </div>
                            <div class="data-form-five">
                                <div class="form-district">
                                    <label for="">Bairro</label><input type="text" name="endereco_bairro" id="district" value="<%=  clientData.bairro %>">
                                </div>
                            </div>
                        </div>
                        <div class="data-form-image-client">
                            <div class="data-image-upload">
                                <img src="/img/uploads/<%= clientData.foto %>" alt="">
                            </div>
                            <input type="file" name="foto_cliente" id="image">
                            <label for="">Foto do Cliente</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <hr>
            <div class="modal-footer-buttons">
                <div>
                    <button id="delete-client-button">Apagar</button>
                </div>
                <div>
                    <button id="update-client-button">Atualizar</button>
                </div>
            </div>
        </div>
        <div class="services-client">
            <h3>Serviços deste Cliente</h3>
            <button id="create-service-client-button" class="modalBtnService">Criar Serviço</button>
        </div>
    </div>
</div>

<!-- modal pra criar um novo serviço -->
<div class="modal modal-novoservico">
    <div class="content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
            <div class="modal-body-form modal-servicos">
                <div id="form-servicos">
                    <div>
                        <label for="">Selecione o tipo de serviço</label>
                        <select name="select-service" id="select-service" required>
                            <option value="">Selecione</option>
                            <option value="Acompanhamento">Acompanhamento</option>
                            <option value="Casamento Civil">Casamento Civil</option>
                            <option value="Casamento na Igreja">Casamento na Igreja</option>
                            <option value="Ensaio Gestante">Ensaio Gestante</option>
                            <option value="Ensaio Infantil">Ensaio Infantil</option>
                            <option value="Newborn">Newborn</option>
                            <option value="Prewedding">Prewedding</option>
                            <option value="Festa Infantil">Festa Infantil</option>
                            <option value="Smash The Cake">Smash The Cake</option>
                            <option value="Corporativo">Corporativo</option>
                            <option value="Ensaio Feminino">Ensaio Feminino</option>
                            <option value="Ensaio Família">Ensaio Família</option>
                        </select>
                    </div>
                    <form id="form-service-selected">
                        <input type="text" hidden id="servico-tipo">
                        <h2>Cliente</h2>
                        <div class="servico-selecionado"></div>
                        <div class="campos-servicos form">
                            <div id="ambiente-servico" class="fechar-campo">
                                <label for="">Ambiente do Serviço</label>
                                <select name="ambiente-servico" id="ambiente-servico-id">
                                    <option value="Estúdio">Estúdio</option>
                                    <option value="Fora">Fora</option>
                                </select>
                            </div>
                
                            <div id="dt-servico" class="fechar-campo">
                                <label for="">Data do Evento</label>
                                <input type="text" name="dt-servico" id="dt-servico" value="">
                            </div>
                
                            <div id="preco-total" class="fechar-campo">
                                <label for="">Preço Original</label>
                                <input type="text" name="preco-total" id="preco-total" value="">
                            </div>
                
                            <div id="status-servico" class="fechar-campo">
                                <label for="">Status</label>
                                <select name="status-servico" id="status-servico-id">'','',''
                                    <option value="em andamento">em andamento</option>
                                    <option value="cancelado">cancelado</option>
                                    <option value="aguardando pagamento">aguardando pagamento</option>
                                    <option value="aguardando resposta">aguardando resposta</option>
                                    <option value="finalizado">finalizado</option>
                                </select>
                            </div>
                
                            <div id="nome-bebe" class="fechar-campo">
                                <label for="">Nome do Bebê</label>
                                <input type="text" name="nome-bebe" id="nome-bebe" value="">
                            </div>
                
                            <div id="dt-nasc-bebe" class="fechar-campo">
                                <label for="">Data de Nascimento do Bebê</label>
                                <input type="text" name="dt-nasc-bebe" id="dt-nasc-bebe" value="">
                            </div>
                
                            <div id="sexo-bebe" class="fechar-campo">
                                <label for="">Sexo do Bebê</label>
                                <select name="sexo-bebe" id="sexo-bebe-id">
                                    <option value="M">M</option>
                                    <option value="F">F</option>
                                </select>
                            </div>
                
                            <div id="cenario" class="fechar-campo">
                                <label for="">Cenário a ser usado</label>
                                <input type="text" name="cenario" id="cenario" value="">
                            </div>
                
                            <div id="nomes-noivos" class="fechar-campo">
                                <label for="">Nome dos Noivos</label>
                                <input type="text" name="nomes-noivos" id="nomes-noivos" value="">
                            </div>
                
                            <div id="nome-da-crianca" class="fechar-campo">
                                <label for="">Nome da Criança</label>
                                <input type="text" name="nome-da-crianca" id="nome-da-crianca" value="">
                            </div>
                
                            <div id="dt-nasc-crianca" class="fechar-campo">
                                <label for="">Data de Nascimento da Criança</label>
                                <input type="text" name="dt-nasc-crianca" id="dt-nasc-crianca" value="">
                            </div>

                            <fieldset id="endereco-evento" class="fechar-campo">
                                <legend>Endereço do Evento</legend>
                                <input type="text" placeholder="Rua, Avenida, etc" name="endereco-evento-logradouro" id="endereco-evento-logradouro" value="">
                                <input type="text" placeholder="Num" name="endereco-evento-numero" id="endereco-evento-numero" value="">
                                <input type="text" placeholder="Bairro" name="endereco-evento-bairro" id="endereco-evento-bairro" value="">
                            </fieldset>

                            <div id="campos-casamento" class="fechar-campo">
                                <div id="campos-casamento-recepcao">
                                    <label for="recepcao">Terá Recepção?</label>
                                    <input type="checkbox" name="recepcao" id="recepcao">
                                </div>
                                <div id="campo-casamento-dia-noiva">
                                    <label for="dia-noiva">Terá Dia da Noiva?</label>
                                    <input type="checkbox" name="dia-noiva" id="dia-noiva">
                                </div>
                            </div>

                            <fieldset id="endereco-recepcao" class="fechar-campo">
                                <legend>Endereço da Recepção</legend>
                                <input type="text" placeholder="Rua, Avenida, etc" name="endereco-evento-logradouro" id="endereco-evento-logradouro" value="">
                                <input type="text" placeholder="Num" name="endereco-evento-numero" id="endereco-evento-numero" value="">
                                <input type="text" placeholder="Bairro" name="endereco-evento-bairro" id="endereco-evento-bairro" value="">
                            </fieldset>

                            <fieldset id="endereco-dia-noiva" class="fechar-campo">
                                <legend>Endereço do Dia da Noiva</legend>
                                <input type="text" placeholder="Rua, Avenida, etc" name="endereco-evento-logradouro" id="endereco-evento-logradouro" value="">
                                <input type="text" placeholder="Num" name="endereco-evento-numero" id="endereco-evento-numero" value="">
                                <input type="text" placeholder="Bairro" name="endereco-evento-bairro" id="endereco-evento-bairro" value="">
                            </fieldset>

                            <div id="campo-profissao" class="fechar-campo">
                                <label for="">Profissão</label>
                                <input type="text" name="" id="profissao" value="">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <hr>
            <div class="modal-footer-buttons">
                <div class="clear-cancel">
                    <button id="clear-button">Limpar Formulário</button>
                </div>
                <div class="save">
                    <button id="create-client-button">Criar</button>
                </div>
            </div>
        </div>
    </div>
</div>