<div class="cards">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Foto</th>
                <th>Nome</th>
                <th>WhatsApp</th>
                <th>E-mail</th>
                <th id="th-qt-servicos">Qtde Serviços</th>
                <th id="th-acoes">Ações</th>
            </tr>
        </thead>
        <tbody>
        <% clients.forEach(row=> { %>
            <tr>
                <td id="td-id" id-cliente="<%= row.id_cliente %>">
                    <%= row.id_cliente %>
                </td>
                <td id="td-foto">
                    <img src="<%= row.foto_cliente %>" alt="">
                </td>
                <td id="td-nome">
                    <%= row.nome_cliente %>
                </td>
                <td id="td-whatsapp">
                    <%= row.whatsapp_cliente %>
                </td>
                <td id="td-email">
                    emailmocado@gmail.com
                </td>
                <td id="td-qt-servicos">
                    0
                </td>
                <td id="td-acoes">
                    <div id="td-acoes-deleta-cliente" title="Apagar este cliente">
                        <i class="fa-solid fa-trash"></i>
                    </div>
                    <div id="td-acoes-cria-servico-cliente" title="Criar um novo serviço para este cliente">
                        <i class="fa-solid fa-circle-plus"></i>
                    </div>
                    <div id="td-acoes-edita-cliente" title="Editar este cliente">
                        <a href="/admin/clients/<%= row.id_cliente %>"><i class="fa-solid fa-user-pen"></i></a>
                    </div>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<div class="modal" id="modal-novo-cliente">
    <div class="content">
        <div class="modal-header"></div>
        <div class="modal-body">
            <div class="modal-body-form">
                <div class="campos-cliente form">
                    <div id="nome-cliente">
                        <div class="campo-dentro">
                            <label for="">Nome *</label>
                            <input type="text" name="nome-cliente" id="nome-cliente" value="">
                        </div>
                        <div class="mensagem-erro"><span></span></div>
                    </div>

                    <div id="whatsapp">
                        <div class="campo-dentro">
                            <label for="">WhatsApp *</label>
                            <input type="text" name="whatsapp" id="whatsapp" value="">
                        </div>
                        <div class="mensagem-erro"><span></span></div>
                    </div>

                    <div id="email">
                        <div class="campo-dentro">
                            <label for="">E-mail</label>
                            <input type="text" name="email" id="email" value="">
                        </div>
                        <div class="mensagem-erro"><span></span></div>
                    </div>

                    <div id="cpf">
                        <div class="campo-dentro">
                            <label for="">CPF</label>
                            <input type="text" name="cpf" id="cpf" value="">
                        </div>
                        <div class="mensagem-erro"><span></span></div>
                    </div>

                    <div id="dtcad_cliente">
                        <div class="campo-dentro">
                            <label for="">Data de Cadastro</label>
                            <input type="date" name="dtcad_cliente" id="dtcad_cliente" value="">
                        </div>
                        <div class="mensagem-erro"><span></span></div>
                    </div>

                    <fieldset id="endereco-cliente">
                        <legend>Endereço</legend>
                        <input type="text" placeholder="Rua, Avenida, etc" name="endereco-cliente-logradouro" id="endereco-cliente-logradouro" value="">
                        <input type="text" placeholder="Num" name="endereco-cliente-numero" id="endereco-cliente-numero" value="">
                        <input type="text" placeholder="Bairro" name="endereco-cliente-bairro" id="endereco-cliente-bairro" value="">
                    </fieldset>

                </div>
                    <div class="data-form-image-client">
                        <div class="data-image-upload">
                            <img src="/img/no-photo.jpg %>" alt="">
                            <input type="file" name="foto_cliente" id="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="modal-footer-buttons">
                <div class="clear-cancel">
                    <button id="clear-button">Limpar formulário</button>
                </div>
                <div class="save">
                    <button id="create-client-button">Criar</button>
                </div>
            </div>
        </div>
    </div>
</div>
