<div class="cards">
    <% leads.forEach(row=> { %>
    <a href="/admin/leads/<%= row.id_lead %>" class="card" lead-id="<%= row.id_lead %>">
        <div class="card-img">
            <div class="circle">
                <img src="/img/uploads/<%= row.foto_lead %>">
            </div>
        </div>
        <div class="card-details">
            <div class="card-details-content">
                <h4><%= row.nome_lead %></h4>
                <% if (row.whatsapp_lead) { %>
                <div class="whatsapp">
                    <div class="icon-whatsapp">
                        <p><i class="fa-brands fa-whatsapp"></i></p>
                    </div>
                    <p><%= row.whatsapp_lead %></p>
                </div>
                
                <% } %>
            </div>
        </div>
        <div class="card-details-origin">
            <p><%= row.origem_lead %></p>
        </div>
    </a>
    <% }) %>
</div>
